/* Reusable ************************************************/
#accented-element {
  color: white;
  background: #52cccc;
}
#normal-element {
  color: #555555;
  background: #ddd;
}
/* Globals ************************************************/
@font-face {
  font-family: Aller;
  src: url('../fonts/aller.woff') format('woff'), url('../fonts/aller.ttf') format('truetype');
}
@font-face {
  font-family: Museo;
  src: url('../fonts/museo.woff') format('woff'), url('../fonts/museo.ttf') format('truetype');
}
/*

@font-face {
    font-family: ProximaNova;
    src: url('../fonts/proxima-nova.woff'), url('../fonts/proxima-nova.ttf');
}
*/
@font-face {
  font-family: Icons;
  src: url('../fonts/icons.woff') format('woff'), url('../fonts/icons.ttf') format('truetype');
}
*,
*:after,
*:before {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
p,
input,
label,
a,
div,
button {
  font-family: Aller, sans-serif;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Museo, serif;
}
body,
label {
  color: #555555;
}
h2 {
  color: #52cccc;
  font-weight: 100;
  margin: 0;
  font-size: 36px;
  line-height: 36px;
}
a {
  color: #52cccc;
}
a:hover {
  color: #36b3b3;
}
::selection {
  color: white;
  background: #52cccc;
}
::-moz-selection {
  color: white;
  background: #52cccc;
}
.overlay {
  opacity: 1;
  visibility: visible;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
  transition: all 0.3s;
  background: rgba(0, 0, 0, 0.5);
}
/* Main ************************************************/
nav li {
  list-style: none;
  display: inline-block;
}
nav a {
  text-decoration: none;
  padding: 10px;
}
nav a:hover {
  color: white;
  background: #52cccc;
}
footer {
  position: absolute;
  height: 20px;
  bottom: 0;
  margin: 10px;
}
/* Modal ************************************************/
.modal {
  background-color: #f5f5f5;
  border-bottom: 5px solid #52cccc;
  width: 50%;
  margin: 200px auto;
  z-index: 1001;
}
.modal-title {
  font-face: Museo;
  color: white;
  background: #52cccc;
  padding: 10px 25px;
}
.modal-content {
  margin: 10px 25px;
}
/* Animation ****************************/
.spinner {
  -moz-animation: spin 1s infinite linear;
  -webkit-animation: spin 1s infinite linear;
  animation: spin 1s infinite linear;
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.modal-show {
  -webkit-perspective: 1300px;
  perspective: 1300px;
}
.modal-content-hide {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateX(-70deg);
  -ms-transform: rotateX(-70deg);
  transform: rotateX(-70deg);
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}
.md-content-show {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  transform: rotateX(0deg);
  opacity: 1;
}
/* Form ************************************************/
fieldset {
  padding: 0 0 10px 0;
  margin: 0;
}
input,
fieldset {
  border: none;
}
input[type=text],
input[type=email],
input[type=password] {
  box-sizing: border-box;
  color: #000000;
  padding: 5px;
  border-bottom: 2px solid #ddd;
  width: 100%;
}
label {
  display: block;
  width: 100%;
}
.half input[type=text] {
  width: 49%;
}
input:focus,
button:focus {
  outline: none;
}
input[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border: 0;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
  border-bottom: 2px solid #52cccc;
}
button,
input[type=submit] {
  border-radius: 20px;
  padding: 5px 25px;
  height: 35px;
}
button.default,
input[type=submit] {
  color: white;
  background: #52cccc;
}
button:hover {
  background-color: #bbb;
}
button.default:hover {
  background-color: #36b3b3;
}
button {
  color: #555555;
  background: #ddd;
  border: none;
}
button:disabled,
input[type=submit]:disabled {
  background-color: #777;
}
input[type="radio"],
input[type="checkbox"] {
  display: none;
}
input[type="radio"] + label:before,
input[type="checkbox"] + label:before {
  font-family: Icons;
  padding-right: 5px;
  font-size: 20px;
}
input[type="radio"] + label:before {
  content: "\e003";
  /* circle-blank */

}
input[type="radio"]:checked + label:before {
  content: "\e004";
  /* circle */

}
input[type="checkbox"] + label:before {
  content: "\e002";
  /* check-empty */

}
input[type="checkbox"]:checked + label:before {
  content: "\e001";
  /* check */

}
.icon-progress {
  height: 20px;
  background-color: reds;
  vertical-align: middle;
}
.icon-progress:before {
  font-family: Icons;
  content: "\e000";
  /* progress */

}
.error {
  width: 100%;
  padding: 5px;
  color: white;
  background-color: #cc0044;
}
/* Stats **********************************************/
.numeric {
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Open Sans Condensed', sans-serif;*/

  font-weight: 400;
}
