<form name="form" method="POST"
      novalidate
      ng-submit="ok()">
    <fieldset class="half">
        <label for="first-name">Name</label>
        <input id="first-name" type="text" name="firstName"
               autofocus placeholder="First"
               ng-disabled="progress"
               ng-required="true"
               ng-model="firstName">
        <input id="last-name" type="text" name="lastName"
               placeholder="Last"
               ng-disabled="progress"
               ng-required="true"
               ng-model="model.lastName">
        <error if="validation && (form.firstName.$invalid || form.lastName.$invalid)">
            You can't leave this empty
        </error>
    </fieldset>
    <fieldset>
        <label for="email">Email</label>
        <input id="email" type="email" name="email"
               autofocus
               ng-disabled="progress"
               ng-required="true"
               ng-model="model.email">
        <error if="validation && form.email.$invalid">
            Enter your email address
        </error>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"
               ng-disabled="progress"
               ng-required="true"
               ng-model="model.password">

        <error if="validation && form.password.$invalid">
            The username or password you entered is incorrect
        </error>
    </fieldset>
    <button-submit>Save Changes</button-submit>
    <button-cancel>Cancel</button-cancel>
</form>