<form name="form" method="POST"
      novalidate
      ng-submit="login()">
    <fieldset>
        <label for="email">Email</label>
        <input id="email" type="email" name="email"
               autofocus
               ng-disabled="progress"
               ng-required="true"
               ng-model="model.email">
        <error if="validation && form.email.$invalid">
            Enter your email address
        </error>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"
               ng-disabled="form.$progress"
               ng-required="true"
               ng-minlength="5"
               ng-model="model.password">

        <error if="form.$validation && form.password.$invalid">
            The username or password you entered is incorrect
        </error>
    </fieldset>
    <div class="control-group">
        <input id="remember" type="checkbox"
               checked
               ng-disabled="form.$progress"
               ng-model="model.stayLoggedIn">
        <label for="remember">Stay logged in</label>
    </div>
    <div class="control-group">
        <button-submit>Log in</button-submit>
        <button-cancel>Cancel</button-cancel>
    </div>
    <fieldset>
        <a href>Forgot your password?</a>
    </fieldset>
    <fieldset>
        New here? <a href="#!/signup">Create an Account</a>
    </fieldset>
</form>