<form name="form" method="POST"
      novalidate
      ng-controller="LoginCtrl"
      ng-submit="form.$valid && login()">
    <fieldset>
        <label for="email">Email</label>
        <input id="email" type="email" name="email"
               autofocus
               ng-disabled="form.$progress"
               ng-required="true"
               ng-model="model.email">
        <error if="form.$validation && form.email.$invalid">
            Enter your email address
        </error>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"
               ng-disabled="form.$progress"
               ng-required="true"
               ng-minlength="5"
               ng-model="model.password">

        <error if="form.$validation && form.password.$invalid">
            <span ng-show="form.password.$error.required">Password is required</span>
            <span ng-show="form.password.$error.minlength && !form.password.$error.required">
                Passwords are more than 5 symbols
            </span>
            <span ng-show="form.password.$error.incorrect">
                The username or password is incorrect
            </span>
        </error>
    </fieldset>
    <div class="control-group">
        <input id="remember" type="checkbox"
               checked
               ng-disabled="form.$progress"
               ng-model="model.stayLoggedIn">
        <label for="remember">Stay logged in</label>
    </div>
    <div class="control-group">
        <a href>Forgot your password?</a>
        <!--        <fieldset>
                    New here? <a href="#!/signup">Create an Account</a>
                </fieldset>-->
    </div>
    <div class="button-group">
        <button-submit>Log in</button-submit>
        <button-cancel>Cancel</button-cancel>
    </div>
</form>