<form name="form" method="POST"
      novalidate
      ng-submit="ok()">
    <fieldset>
        <label for="name">Name</label>
        <input id="name" type="text" name="name"
               autofocus
               ng-disabled="progress"
               ng-required="true"
               ng-model="model.name">
        <error if="validation && form.name.$invalid">
            Your project needs a name
        </error>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"
               ng-disabled="progress"
               ng-required="true"
               ng-model="model.password">

        <error if="validation && form.password.$invalid">
            The username or password you entered is incorrect
        </error>
    </fieldset>
    <button-progress text="Save Changes" progress="progress"></button-progress>
    <button ng-click="cancel($event)">Cancel</button>
</form>