<form name="form" method="POST"
      novalidate
      ng-submit="form.$valid && ok()">
    <fieldset>
        <label for="name">Name</label>
        <input id="name" type="text" name="name"
               autofocus
               ng-disabled="progress"
               ng-required="true"
               ng-model="model.name">
        <error if="form.$validation && form.name.$invalid">
            Your project needs a name
        </error>
    </fieldset>
    <fieldset>
        <label for="password">Password</label>
        <input id="password" type="password" name="password"
               ng-disabled="progress"
               ng-required="true"
               ng-model="model.password">

        <error if="validation && form.password.$invalid">
            The username or password you entered is incorrect
        </error>
    </fieldset>
    <fieldset>
        <label for="options">Options</label>
        <select id="options" ng-disabled="progress">
            <option>One</option>
            <option>Two</option>
            <option>Three</option>
        </select>
        <error if="validation && form.password.$invalid">
            The username or password you entered is incorrect
        </error>
    </fieldset>

    <button-submit>Save Changes</button-submit>
    <button-cancel>Cancel</button-cancel>
</form>