<form name="form" method="POST"
      novalidate
      ng-submit="signup()">
    <fieldset class="half">
        <label for="first-name">Name</label>
        <input id="first-name" type="text" name="firstName"
               autofocus
               placeholder="First"
               ng-disabled="form.$progress"
               ng-required="true"
               ng-model="model.firstName">
        <input id="last-name" type="text" name="lastName"
               placeholder="Last"
               ng-disabled="form.$progress"
               ng-required="true"
               ng-model="model.lastName">
        <error if="validation && (form.firstName.$invalid || form.lastName.$invalid)">
            You can't leave this empty
        </error>
    </fieldset>
    <fieldset>
        <label for="email">Email</label>
        <input id="email" type="email" name="email"
               ng-disabled="form.$progress"
               ng-required="true"
               ng-model="model.email">
        <error if="validation && form.email.$invalid">
            Enter your email address
        </error>
    </fieldset>
    <fieldset>
        <label for="password">Create a password</label>
        <input id="password" type="password" name="password"
               ng-disabled="form.$progress"
               ng-required="true"
               ng-minlength="5"
               ng-model="model.password">
        <error if="validation && form.password.$invalid">
            Enter a password, 5 letters or more
        </error>
    </fieldset>
    <fieldset>
        <label for="comfirm-password">Confirm your password</label>
        <input id="comfirm-password" type="password" name="confirmPassword"
               ng-required="true"
               ng-disabled="form.$progress"
               valid-if-equals="model.password"
               ng-model="model.confirmPassword">

        <error if="validation && form.confirmPassword.$invalid">
            These passwords don't match
        </error>
    </fieldset>
    <fieldset>
        <input id="subscribe" type="checkbox"
               ng-disabled="form.$progress"
               ng-model="model.subscribe">
        <label for="subscribe">Subscribe to Getting Started Emails</label>
    </fieldset>
    <fieldset>
        <button-submit>Sign up now</button-submit>
        <button-cancel>Cancel</button-cancel>
    </fieldset>
    <fieldset>
        <h2>!{{$scope.form.$progress == undefined}}!</h2>
        Already have an account? <a href="#!/login">Log in</a>
    </fieldset>
</form>