<div class="form-box" ng-controller="LoginCtrl">
    <h2>Log in</h2>

    <form class="login-form" name="form" method="POST"
          novalidate
          ng-submit="login()">
        <fieldset>
            <label for="email">Email</label>
            <input id="email" type="email" name="email"
                   autofocus
                   ng-required="true"
                   ng-model="model.email">
            <error if="validation && form.email.$invalid">
                Enter your email address
            </error>
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input id="password" type="password" name="password"
                   ng-required="true"
                   ng-model="model.password">

            <error if="validation && form.password.$invalid">
                The username or password you entered is incorrect
            </error>
        </fieldset>
        <fieldset>
            <input id="remember" type="checkbox"
                   checked
                   ng-model="model.stayLoggedIn">
            <label for="remember">Stay logged in</label>
        </fieldset>
        <input type="submit" value="Log in" ng-enabled="form.$valid">
    </form>
    <a href>Forgot password?</a>
</div>

<div class="form-box" ng-controller="SignupCtrl">
    <h2>Sign up</h2>

    <form class="signup-form" name="form" method="POST"
          novalidate
          ng-submit="signup()">
        <fieldset class="half">
            <label for="first-name">Name</label>
            <input id="first-name" type="text" name="model.firstName"
                   autofocus placeholder="First"
                   ng-required="true"
                   ng-model="firstName">
            <input id="last-name" type="text" name="lastName"
                   placeholder="Last"
                   ng-required="true"
                   ng-model="model.lastName">
            <error if="validation && (form.firstName.$invalid || form.lastName.$invalid)">
                You can't leave this empty
            </error>
        </fieldset>
        <fieldset>
            <label for="signup-email">Email</label>
            <input id="signup-email" type="email" name="email"
                   ng-required="true"
                   ng-model="model.email">
            <error if="validation && form.email.$invalid">
                Enter your email address
            </error>
        </fieldset>
        <fieldset>
            <label for="signup-password">Create a password</label>
            <input id="signup-password" type="password" name="password"
                   ng-required="true"
                   ng-minlength="5"
                   ng-model="model.password">

            <error if="validation && form.password.$invalid">
                Enter a password, 5 letters or more
            </error>
        </fieldset>
        <fieldset>
            <label for="comfirm-password">Confirm your password</label>
            <input id="comfirm-password" type="password" name="confirmPassword"
                   ng-required="true"
                   valid-if-equals="password"
                   ng-model="model.confirmPassword">

            <error if="validation && password != confirmPassword">
                These passwords don't match
            </error>
        </fieldset>
        <fieldset>
            <input id="subscribe" type="checkbox"
                   ng-model="subscribe">
            <label for="subscribe">Subscribe to Getting Started Emails</label>
        </fieldset>
        <input type="submit" value="Sign up" ng-enabled="form.$valid">
    </form>
</div>

<div class="form-box" ng-controller="ProjectCtrl">
    <h2>New Project</h2>

    <form class="login-form" name="form" method="POST"
          novalidate
          ng-submit="login()">
        <fieldset>
            <label for="email">Email</label>
            <input id="email" type="email" name="email"
                   autofocus
                   ng-required="true"
                   ng-model="model.email">
            <error if="validation && form.email.$invalid">
                Enter your email address
            </error>
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input id="password" type="password" name="password"
                   ng-required="true"
                   ng-model="model.password">

            <error if="validation && form.password.$invalid">
                The username or password you entered is incorrect
            </error>
        </fieldset>
        <fieldset>
            <input id="remember" type="checkbox"
                   checked
                   ng-model="model.stayLoggedIn">
            <label for="remember">Stay logged in</label>
        </fieldset>
        <input type="submit" value="Log in" ng-enabled="form.$valid">
    </form>
    <a href>Forgot password?</a>
</div>

<div class="form-box" ng-controller="AccountCtrl">
    <h2>New Project</h2>

    <form class="account-form" name="form" method="POST"
          novalidate
          ng-submit="save()">
        <fieldset>
            <label for="email">Email</label>
            <input id="email" type="email" name="email"
                   autofocus
                   ng-required="true"
                   ng-model="model.email">
            <error if="validation && form.email.$invalid">
                Enter your email address
            </error>
        </fieldset>
        <fieldset>
            <label for="password">Password</label>
            <input id="password" type="password" name="password"
                   ng-required="true"
                   ng-model="model.password">

            <error if="validation && form.password.$invalid">
                The username or password you entered is incorrect
            </error>
        </fieldset>
        <fieldset>
            <input id="remember" type="checkbox"
                   checked
                   ng-model="model.stayLoggedIn">
            <label for="remember">Stay logged in</label>
        </fieldset>
        <input type="submit" value="Log in" ng-enabled="form.$valid">
    </form>
    <a href>Forgot password?</a>
</div>
